
/**************************
*
*	GENERAL
*
**************************/
.camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none;
    line-height:0;
}
.camera_wrap {
	display: none;
	float: none;
	position: absolute;
	z-index: 1;
	margin: 0 !important;
	width: 100%;
	height: 100%!important;
}
.camera_wrap img {
	max-width: none !important;
    overflow: hidden;
}
.camera_fakehover {
	height: 100%;
	position: relative;
	width: 100%;
	/*z-index: 1;*/
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width:1170px;
    text-align: left;
	/*z-index: 1;*/
    display: inline-block;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
    text-align: center;
	right: 0;
	top: 0;
}
.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
	background:#efede0 url(../img/camera-loader.gif) no-repeat center;
	height: 36px;
    width: 36px;
    top: 50%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	z-index: 3;
    border-radius:36px;
}
.camera_loader img {
    border-radius:36px;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0px;
	position: relative;
}
.slider{
	position: relative;
    z-index:0;
    top: 0;
    overflow:hidden;
    min-height:250px;
}
.camera_pag {
	position: absolute;
	z-index: 10;
	bottom:80px;
    text-align:left;
	padding:0;
	display:block;
    width: 1170px;
    left: 50%;
    margin-left: -585px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.camera-caption {
	position: absolute;
	top:50%;
    left:0;
    padding:0;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    text-align:left;
}
.camera-caption em {
    position: absolute;
    top:-9px;
    left:0;
    width:100%;
    height:9px;
    background:url(../img/tr1.png) center 0 no-repeat; 
}
.camera-caption .title {
    font:72px/70px 'Cabin';
    color:#fff;
    text-transform:uppercase;
    margin-bottom:0;
}
.camera-caption .description {
    font:36px/1em 'Cabin';
    color:#a2d6ff;
    text-transform:uppercase;
    margin-bottom:0;
}
.camera_prev {
    position: absolute;
    top:46%;
    left: 38%;
    margin-left: -640px;
}
.camera_next {
    position: absolute;
    top:46%;
    right: 38%;
    margin-right:-640px;
    float:right;
}
.camera_prev span, .camera_next span{
	display: block;
	width:42px;
	height:83px;
	cursor: pointer;
	z-index: 1000;
}
.camera_prev span:hover, .camera_next span:hover{
	opacity: 0.5;
}
.camera_prev span{
	background:url(../img/prev.png) 0 top no-repeat;
	transition:ease 0.3s all;
}
.camera_prev span:hover{
    opacity:0.1;
    transition:ease 0.3s all;
}
.camera_next span{
    float: right;
	background:url(../img/next.png) 0 top no-repeat;
	transition:ease 0.3s all;
}
.camera_next span:hover{
    opacity:0.1;
    transition:ease 0.3s all;
}
.camera_pag_ul {
    display: inline-block;
    margin:0;
}
.camera_pag_ul li{
	text-indent: -100px;
    float:left;
    margin:0 0 0 5px;
}
.camera_pag_ul li:first-child {
    margin-left:0;
}
.camera_pag_ul li>span{
	cursor: pointer;
	display: block;
	width:68px;
	height:3px;
    border-radius:0;
    background:none;
	text-indent: -100px;
	overflow: hidden;
    background:#fff;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.camera_pag_ul li>span>span{
    display:none;
}
.camera_pag_ul li.cameracurrent span, .camera_pag_ul li:hover span{
    background:#a2d6ff;
    -webkit-transition: all 0.25s ease; 
    transition: all 0.25s ease;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1720px){
	.camera_prev {
    top:46%;
    left: 48%;
    margin-left: -540px;
	}
	.camera_next {
	    top:46%;
	    right: 48%;
	    margin-right:-540px;
	    float:right;
	}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1219px){
.camera_pag {
    width:940px;
    left: 50%;
    margin-left: -470px;
}
.cameraCont, .cameraContents {
	width:920px;
}
.camera_prev {
    display: none;
}
.camera_next {
	display: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
.camera_pag {
    width:720px;
    left: 50%;
    margin-left: -360px;
}
.cameraCont, .cameraContents {
	width:720px;
}
.camera-caption .title {
    font-size:40px;
    line-height:50px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
.camera_pag {
    width:100%;
    left:0;
    margin:0 15px;
}
.camera-caption .title {
    font-size:40px;
    line-height:50px;
}
.camera-caption {
    padding:0 15px;
}
.cameraCont, .cameraContents {
	width:100%;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
.camera-caption .title {
    font-size:20px;
    line-height:30px;
}
.camera-caption .description {
    font-size:20px;
    line-height:30px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {
}
