/****Form****/

#contact-form {
	position: relative;
	text-transform: uppercase;
	font-family: @font-family-sans-serif;
}

#contact-form input {
	width: 100%;
	float:left;
    outline: none;
	background: #FFF;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	color: #333333;
    font-size: 15px;
	border: 1px solid #e2e2e2;
    padding:9px 14px;
    font-weight: 300!important;
    height: 41px;
}


#contact-form textarea {
	width: 100%;
	height: 115px;
    outline: none;
	background: #FFF;
	position: relative;
	resize:none;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	float:left;
	margin: 0;
	color: #333333;
    font-size: 15px;
	border: 1px solid #e2e2e2;
    padding:9px 15px;
    font-weight: 300!important;
}



#contact-form ._placeholder {
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color:#333333;
	border: 1px solid transparent;
    padding:9px 14px;
	height: 40px !important;
	width: 100% !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	cursor: text !important;
	display: block;
	font-weight: 300;
	text-transform: none;
}

#contact-form ._placeholder.hidden {
	display: none;
}

#contact-form ._placeholder.focused {
	opacity: 0.3;
}


#contact-form .message ._placeholder {
	height: 100% !important;
}
#contact-form label {
	position:relative;
	display: block;
	min-height: 51px;
	float: left;
	width: 249px;
	margin-bottom: 0px;
}

#contact-form label+label {
	margin-left: 8px;
}


#contact-form label.message {
	width: 100%;
	position: relative;
	margin-left: 0;
}
#contact-form .error-message, #contact-form .empty-message {
	color: #E02A05;
	font-size: 10px;
	line-height:14px;
	width:auto;
	position: absolute;
	z-index: 999;
	top: 5px;
	opacity: 0;
	right: 5px;
	float:left;
	font-weight: 300;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
#contact-form .invalid .error-message, #contact-form .empty .empty-message {
	opacity: 1;
}
.buttons{
	
}
.buttons .my-btn{
	margin-bottom: 5px;
	float: left;
	margin-top: 15px;	
}
.buttons>span{
	color:#1c2126;
	font-size: 15px;
	display: inline-block;
	margin-left: 12px;
	margin-top: 37px;
	text-transform: lowercase;
}
.phone {
	position: relative;
}
.message br {
	height: 0;
	line-height: 0;
}

#contact-form .success-message {
	display: none;
	opacity: 0;
	position: absolute;
	background: #fff;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 27px 10px;
	z-index: 999;
	border: 1px solid #d2d5db;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

#contact-form.success .success-message {
	display: block;
	opacity: 1;
}
/* Contact Form Modal 
========================================================*/
.modal-open {
  overflow: hidden;
}
#contact-form .modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  font-size: 13px;
}
#contact-form .modal h4 {
  font-weight: bold !important;
  padding: 0 !important;
  margin: 0 !important;
  color: #000 !important;
  font-size: 15px;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 20px;
  color: #525151 !important;
}
.modal-dialog {
  width: 600px;
  margin: 10px auto;
}
@media only screen and (max-width: 768px) {
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
}
/* Contact Form Close icon 
========================================================*/
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000 !important;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #000000 !important;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

@media only screen and (max-width: 1199px) {
#contact-form label {
	float: none !important;	
	width: 100%;
	margin-left: 0 !important;
}


}


@media only screen and (max-width: 995px) {

#contact-form {
}

#contact-form .success-message {
}


#contact-form input {
	margin-bottom: 10px;
}


#contact-form .success-message {
	width: 100%;
}

.btns {
	padding-right: 0;
}

#contact-form label.email {
	width: 100%;
	margin: 0;
}

.map figure {
	float: left !important;
	margin-right: 0px !important;
}

#contact-form input, #contact-form textarea, #contact-form .success-message {
	border: 1px solid #d2d5db;
}

}

@media only screen and (max-width: 767px) {




.map figure {
	width: 100% !important;
	float: none !important;
	display: block !important;
	margin-right: 0px !important;
}
  .btns {
		padding-bottom: 0;  
  }
  
  #contact-form textarea {
		height: 300px !important; 
  }

   #contact-form {
 	padding-right: 0;
 }
  
}
@media only screen and (max-width: 479px) {

  #contact-form textarea {
		height: 200px !important;  
  }
}