#toTop {
  display: inline-block;
  position: fixed;
  bottom: 150px;
  right: 10%!important;
  background: #red;
  font-size: 50px;
  color: #1c2126;
  z-index: 9999;
  transition: ease all 0.3s;
}
#toTop:hover {
  color: #ee4212;
  transition: ease all 0.3s;
}
#toTop:focus {
  border: none;
}
