html, body {
	min-width:280px;
	height:auto;
	background:transparent;
}
#search-results{
	padding:20px 10px 0px 5px;
	overflow:hidden;
}
#search-results iframe html, #search-results iframe html body{
	border:none;
	overflow: hidden;
}
#search-results iframe {
	overflow: hidden;
}

h4{
	padding-bottom: 10px;
	margin: 0;
}
h2{
	text-transform: uppercase!important;
	display: block;
	overflow: hidden;
}
ol.search_list {
	margin-left: 15px;
	list-style-type:none;
	counter-reset: ol;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}
ol.search_list li:before {
content: counter(ol) ".";
counter-increment: ol;
float:left;
display:block;
width:20px;
text-align:right;	
padding-right:10px;
margin:0px 0px 0 -30px;
margin-bottom: 10px;
}
ol.search_list li {
	padding-bottom:40px;
	margin-left:15px;
}
span.match {
	color:#ee4212;
	font-size:11px;
	display:block;
	
}
span.search {
	color:#ee4212;

}
.search_link{
	text-decoration: none;
	color:#ee4212;
	text-transform: uppercase;
}
.search_link:hover{
	text-decoration: underline;
}
@media (max-width: 479px) {
	ol.search_list{
		width: 100%;
		margin: 0px!important;
		padding: 0px!important;
	}
	ol.search_list li{
		margin-left: 25px!important;
	}
	ol.search_list li:before{
		margin-right: -10px;
	}
}

